<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>kr.ac.jejuuniv.HelloServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>kr.ac.jejuuniv.HelloServletRequestListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
		    <max-file-size>10485760</max-file-size>
            <max-request-size>10485760</max-request-size>
		</multipart-config>
	</servlet>

 	<servlet>
		<servlet-name>helloWorldServlet</servlet-name>
		<servlet-class>kr.ac.jejuuniv.HelloWorldServlet</servlet-class>
	</servlet>
	
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>helloWorldServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>helloWorldFilter</filter-name>
		<filter-class>kr.ac.jejuuniv.HelloWorldFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>helloWorldFilter</filter-name>
		<url-pattern>/hello</url-pattern>
	</filter-mapping>

</web-app>
